<!DOCTYPE html>
<html lang="en">
<head>
  <title>Informe de Ventas Acumulado</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>Detalle - Informe de Ventas</h2>                
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>Sucursal</th>
                <th>Periodo</th>
                <th>Ingresos Actual</th>
                <th>Ingresos Anterior</th>
                <th>Ingresos Presupuesto</th>
                <th>Var % SSS</th>
                <th>Desv %</th>
              </tr>
            </thead>
            <tbody>
              {% for index, row in df_filtrado_con_personalizada.iterrows() %}
                <tr>
                  <td>{{ row['sucursal'] }}</td>
                  <td>{{ row['periodo'] }}</td>
                  <td>{{ row['Ingresos_Act'] }}</td>
                  <td>{{ row['Ingresos_Ant'] }}</td>
                  <td>{{ row['Ppto_Ventas'] }}</td>
                  <td>{{ row['var_SSS'] }}</td>
                  <td>{{ row['desv'] }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>      
      </body>
      </html>